# Add files here to ignore them from prettier formatting

/dist
/coverage

# code gen
README.md
apps/web/src/api/user/user.gql.gen.ts
libs/api/generated/db-types/src/index.ts
libs/client/core/tsconfig.lib.json
libs/client/generated/graphql-types/src/lib/types.ts